@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/Neucha-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}
:root {
  --white: #fff;
  --trnasparent-white: #d7ccc0;
  --light: #f5f4f0;
  --base-color: #fe8a02;
  --base-dark-color: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark);
}

section {
  max-width: 1110px;
  padding: 100px 165px;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: Neucha, cursive;
  line-height: 1.2em;
  font-weight: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.base-color {
  color: var(--base-color);
}

.color-white {
  color: var(--white);
}

.dark-color {
  color: var(--dark);
}

.background {
  position: relative;
}
.background::before, .background::after {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../../assets/img/background.png");
  opacity: 0.1;
  content: "";
}
.background::after {
  background: var(--light);
  opacity: 1;
  z-index: -2;
}

.main-image {
  position: absolute;
  top: 55px;
  right: -105px;
  height: 525px;
}

.mb-185px {
  margin-bottom: 185px;
}

.text {
  position: relative;
  z-index: 1;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.text p {
  margin-bottom: 0;
}

.text-left,
.text-right {
  flex: 1 1 540px;
}

.link {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;
  font-family: OpenSans, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.orange {
  background-color: var(--base-color);
  color: var(--white);
}

.base-dark {
  background-color: var(--base-dark-color);
}

.above-video {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  color: #212529;
}

.tac {
  text-align: center;
}

.video {
  margin: 30px 95px -100px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.fake-section-start {
  height: 132px;
  margin: 0 -165px;
  background-color: var(--base-dark-color);
}

.p-bottom0 {
  padding-bottom: 0;
}

.p-top70 {
  padding-top: 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}

.nav-title {
  flex: 1 1 350px;
  font-size: 52px;
  line-height: 120%;
}

.nav-link {
  display: block;
  flex: 1 1 350px;
  box-sizing: border-box;
  padding: 18px 24px 18px;
  color: inherit;
  text-decoration: none;
  background-color: var(--light);
}
.nav-link h2 {
  color: var(--base-dark-color);
  font-size: 64px;
}
.nav-link h3 {
  margin-top: 34px;
  color: var(--base-color);
}
.nav-link p {
  margin-bottom: 0;
}
.nav-link:hover {
  color: var(--white);
  background-color: var(--base-color);
}
.nav-link:hover h2 {
  color: var(--white);
}
.nav-link:hover h3 {
  color: var(--white);
}

.colontitle {
  margin: 0;
  color: var(--transparent-dark);
  font-family: Neucha;
  font-size: 24px;
  line-height: 1.2;
}

.img-left {
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.lead {
  margin-top: 30px;
  font-family: Neucha;
  font-size: 34px;
  line-height: 1.2;
}

.subtitle {
  clear: left;
  padding: 5px 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: var(--brown);
  color: var(--white);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}/*# sourceMappingURL=app.css.map */