@function rem($value) {
  $result: ($value / $rem-base) * 1rem;

  @return #{$result};
}

@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

:root {
  --white: #fff;
  --trnasparent-white: #d7ccc0;
  --light: #f5f4f0;
  --base-color: #fe8a02;
  --base-dark-color: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark);
}

main {
  
}

section {
  max-width: 1110px;
  padding: 100px 165px;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.base-color {
  color: var(--base-color);
}

.dark-color {
  color: var(--dark);
}

.background {
  position: relative;
  background-color: var(--light);

  &::before {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: url("../../../assets/img/background.png");
    opacity: 0.1;
    content: "";
  }
}

.main-image {
  position: absolute;
  top: 55px;
  right: -105px;
  height: 525px;
}

.text {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 185px;
  column-gap: 30px;
}

.text-left, .text-right {
  flex: 1 1 540px;
}

.link {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;

  text-decoration: none;
  font-weight: bold;
}

.orange {
  background-color: var(--base-color);
  color: var(--white);
}