@font-face {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

:root {
  --white: #fff;
  --trnasparent-white: #d7ccc0;
  --light: #f5f4f0;
  --base-color: #fe8a02;
  --base-dark-color: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark);
}

.main {
  max-width: 1110px;
}

.section {
  text-align: center;
  padding: 100px 0;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.base-color {
  color: var(--base-color);
}

.dark-color {
  color: var(--dark);
}
